/* utilities */
.u_bold {    font-weight: bold;}
.u_p-10 {font-size: 10px;}
.u_ul_default {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.u_a_default{text-decoration: none;}
.u_flex {display: flex;}
.u_color_dark-gray {color: #4A4A4A;} /*headers*/
.u_color_light-gray {color:#9B9B9B ;} /*text*/
.u_color_white {color: white;}
.u_bg_color_9B {background-color: #9B9B9B;} 
.u_bg_color_D8 {background-color: #D8D8D8;}
.u_bg_color_DB {background-color: #DBDBDB;}
.u_bg_color_4A {background-color: #4A4A4A;}
.u_bg_color_EA {background-color: #EAEBEC;}
.u_margin-auto{margin: auto 0;}
.u_margin-24-0 {margin: 24px 0;}
.u_margin-16 {margin: 16px;}
.u_margin-0{margin: 0;}
.u_padding-0{padding: 0;}
.u_width-40 {width: 40%;}
.u_width-60 {width: 60%;}
.u_desktop-only {display: none;}
.u_img_fit-in {
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: auto;
}

/*note section*
* from 768px desktop!
*Color-map:
- header: 4A4A4A
- p/text: 9B9B9B
- banner mobil button: 9B9B9B
- banner DT-bg: D8D8D8
- banner mobil-bg: DBDBDB
- banner text+desktop bottom: 4A4A4A
- articles choosen one bg: D8D8D8
- Start learning DT-bg: EAEBEC
- Start learning header: 4A4A4A
- Start learning mobil-button:D8D8D8
- Thesis choosen one bg: D8D8D8
*/


/* composed*/

html, body {
   margin: 0;
    color: #4a4a4a;
    font-family: Arial, Helvetica, sans-serif;
}
p{
       color:  #9B9B9B;
}

h1,h2 {   
    color: #4A4A4A;
}


/*header*/

ul.header-mobile {
padding:  0 16px 0 24px;
height: 64px;
display: flex;
justify-content: space-around;
align-items: center;
}
nav {
    background-color: white;
}
/*header desktop*/
.nav-desktop {
    padding: 0 16px 0 24px;
    justify-content: space-between;
    text-align: center;
    display: none;
    height: 64px;
}
.nav-desktop-menu {
    padding: 0 8px;
}

@media only screen and (min-width: 768px) {
   
    .nav-mobile {display: none;}
    .nav-desktop{display: flex;}
  }


/*Banner section*/ 
.banner {
    flex-direction: column;
    width: 100%;
}
.banner-img img {
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: auto;
    margin-bottom: 16px;
}

.banner p, h1 {text-align: left;}
.banner h1 {margin:16px}
.banner-text-p1 {padding: 0 16px;}

.banner-button {
    text-align: center;
    margin: 0 16px 32px 16px;  
}
.banner-button p {text-align: center;
    padding: 8px 0;}

@media only screen and (min-width: 768px) {
.banner {flex-direction: row;}
.banner-button p {font-weight: normal;}
.banner h1 {margin: 0 32}
.banner-button {background-color: #4A4A4A;}
.banner-img {
    margin: 32px 24px;
    justify-content: center;
}
.banner-img img {margin-bottom: 0;}
.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.banner-img-li {width: 60%;}
.banner-text-li {
    display: flex;
    width: 30%;
}
.banner ul { display: flex;}
 }


/*Articles section*/
section.article {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.article-cards {
    justify-content: center;
    flex-direction: column;
}
.article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.article-card picture {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    background-size: cover;
}


.article-card-text {
    margin: 16px;
}

.article-card-text-link {
    text-decoration: none;
    color:-webkit-link;
}

.desktop-h2 {
    display: none;
}

/*article desktop*/
.article-card-main {
    flex-direction: column;
    width: 60%;
    margin: 32px 24px 0;
}
.article-card-main h1 {
    margin: 24px 0;
}

@media only screen and (min-width: 768px) {
    section.article {margin-bottom: 32px;}
    .article-cards {margin-top: 0;}
    .article-card {
        flex-direction: row;
        border:1px solid #D8D8D8;
        } 
    .orientation {padding-top:32px}
    .article-card-main {display: flex;}
    .article-card-small {width: 40%;}
    .article-card-text {
        width: 65%;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .article-card-text h2, p {margin:8px 0;
    align-items: center;}
    .article-card-gray {background-color: #d8d8d8;}    
    .article-card picture {width: 35%;} 
    .mobile-h2 {display: none;}
    .desktop-h2 {display: block;}

}


/*Start learning section*/ 
section.start-learning {
    background-color: #EAEBEC ;
    padding-top: 32px;
}
.start-learning h1{
    text-align: center;
    margin: 0 ;
}

.learning-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 56px 16px;
    justify-content: center;
}

.learning-card {
    width: 300px;
    background-color: white;
    margin: 16px;
    padding-bottom: 16px;
}

.learning-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.learning-card h2 {
    margin: 16px 16px 0;
}

.learning-card p {
    margin: 8px 16px;
}

@media only screen and (max-width: 767px) {
    .learning-card img {display: none;}
    section.start-learning {
        background-color: white;
        margin-left: 0;
        margin-right: 0;
    }
    .learning-cards {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .learning-card {
        background-color:#D8D8D8;
        margin: 8px 16px;
        padding: 16px 16px 24px;
        width: 100%;
    }
    .learning-card p{display: none;}
    .learning-card h2 {margin: 0;}
}

/*Thesis exhibit section*/
section.thesis-exhibit {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}
section.thesis-exhibit h1{
    text-align: center;
    margin:0 0 32px;
}

.thesis-cards {
    display: flex;
    flex-direction: row;
    
}
.thesis-card-video {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    
}
.thesis-card-video video {
    margin-bottom: 24px;
}
.thesis-card-video h2 {
    margin: 0;
}

.thesis-card-video p {
    margin: 8px 0 0;
}

.thesis-card-subcards {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.thesis-subcard {
    display: flex;
    flex-direction: row;
    padding: 16px 0 16px 16px;    
}

.thesis-subcard img {
    width: 35%;
    height: auto;
    object-fit: cover;
}
.thesis-subcard-text {
    width: 65%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    section.thesis-exhibit {padding:32px 0 24px;}
    .thesis-card-subcards{display: none;}
    .thesis-card-video-text {display: none;}
    .thesis-card-video {
        width: 100%;
        margin-right: 0;
    }
    .thesis-card-video video {margin: 0;}
}



/*Footer section*/ 

.footer {
    display:flex;
    justify-content: space-between;
    margin: 16px 24px 24px 24px;
} 
 
.foot-right ul {
    text-align: right;
    display: flex;
}

.foot-right li{
    padding-left: 16px;
    display: flex;
}
 
@media only screen and (max-width: 767px) {
    .foot-right p {
    display: none;
    color: #4A4A4A;
    }
}